<!-- views/myVehicles.handlebars -->
<!-- Jumbotron-->

<div class="jumbotron jumbotron-fluid text-center">
    <div class="container-vehicle">
      <h1 class="display-3">Welcome to your Client Dashboard </h1>
      <h3 class="lead">Here you can find past service records, recommended upcoming services, and more. </h3>
      <img src="./assets/images/speedometer.jpg" class="img-fluid" alt="Responsive image">
    </div>
  </div>
<!-- End Jumbotron-->
{{#if user}}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title">Profile Information</h3>
    </div>
    <div class="panel-body">
      <p>Username: {{user.username}}</p>
      <p>
        <a href="/logout" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Log out
      </a>
      </p>
    </div>
    <div class = "panel-body">
      <table class = "table table-bordered">
        <thead>
          <th>VIN</th>
          <th>Make</th>
          <th>Model</th>
          <th>Year</th>
          <th>Mileage</th>
          <th>Service History</th>
        </thead>
        <tbody>
          {{#each cars}}
          <tr>
            <td>{{vin}}</td>
            <td>{{make}}</td>
            <td>{{model}}</td>
            <td>{{year}}</td>
            <td>{{mileage}}</td>
            <td><button class = "btn btn-primary service-button" id = "services-{{id}}">Service History</button></td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div><hr>
    <div class = "panel-body">Click a vehicle to see its service history
     <table class = "table table-bordered">
                            <thead>
                                <th>ID</th>
                                <th>Service-Type</th>
                                <th>Date</th>
                                <th>Mileage</th>
                                <th>Invoice URL</th>
                            </thead>
                            <tbody id = "services-display"></tbody>
      </table> 
    </div>
  </div>

{{else}}
  <div class="jumbotron">
    <h1>JawsDB User Authentication</h1>
    <p>Sign in and view your profile!</p>
    <p>
      <a href="/signin" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Sign in!
      </a>
      <a href="/signup" class="btn btn-primary btn-lg" role="button">
        <span class="glyphicon glyphicon-user"></span>
        Sign up!
      </a>
    </p>
  </div>

{{/if}}